<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDatanoteAnnotationMapper">
    
    <resultMap type="com.ruoyi.system.domain.SysDatanoteAnnotation" id="SysDatanoteAnnotationResult">
        <id     property="id"                column="id"                />
        <result property="textId"            column="text_id"           />
        <result property="originalText"      column="original_text"     />
        <result property="entityType"        column="entity_type"       />
        <result property="entityText"        column="entity_text"       />
        <result property="startPosition"     column="start_position"    />
        <result property="endPosition"       column="end_position"      />
        <result property="importance"        column="importance"        />
        <result property="entityCategory"    column="entity_category"   />
        <result property="createBy"          column="create_by"         />
        <result property="createTime"        column="create_time"       />
        <result property="updateBy"          column="update_by"         />
        <result property="updateTime"        column="update_time"       />
        <result property="remark"            column="remark"            />
    </resultMap>
    
    <sql id="selectAnnotationVo">
        select id, text_id, original_text, entity_type, entity_text, start_position, end_position, importance, entity_category,
               create_by, create_time, update_by, update_time, remark
        from sys_datanote_annotations
    </sql>
    
    <select id="selectAnnotationList" parameterType="com.ruoyi.system.domain.SysDatanoteAnnotation" resultMap="SysDatanoteAnnotationResult">
        <include refid="selectAnnotationVo"/>
        <where>  
            <if test="textId != null and textId != ''"> and text_id = #{textId}</if>
            <if test="entityType != null and entityType != ''"> and entity_type = #{entityType}</if>
            <if test="entityText != null and entityText != ''"> and entity_text like concat('%', #{entityText}, '%')</if>
            <if test="importance != null"> and importance = #{importance}</if>
            <if test="entityCategory != null and entityCategory != ''"> and entity_category = #{entityCategory}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectAnnotationById" parameterType="Long" resultMap="SysDatanoteAnnotationResult">
        <include refid="selectAnnotationVo"/>
        where id = #{id}
    </select>
    
    <select id="selectAnnotationsByTextId" parameterType="String" resultMap="SysDatanoteAnnotationResult">
        <include refid="selectAnnotationVo"/>
        where text_id = #{textId}
        order by start_position
    </select>
        
    <insert id="insertAnnotation" parameterType="com.ruoyi.system.domain.SysDatanoteAnnotation" useGeneratedKeys="true" keyProperty="id">
        insert into sys_datanote_annotations (
            text_id,
            original_text,
            entity_type,
            entity_text,
            start_position,
            end_position,
            importance,
            entity_category,
            create_by,
            create_time,
            remark
        ) values (
            #{textId},
            #{originalText},
            #{entityType},
            #{entityText},
            #{startPosition},
            #{endPosition},
            #{importance},
            #{entityCategory},
            #{createBy},
            #{createTime},
            #{remark}
        )
    </insert>
    
    <!-- 批量插入数据标注 -->
    <insert id="batchInsertAnnotation" parameterType="java.util.List">
        insert into sys_datanote_annotations (
            text_id,
            original_text,
            entity_type,
            entity_text,
            start_position,
            end_position,
            importance,
            entity_category,
            create_by,
            create_time,
            remark
        ) values 
        <foreach collection="list" item="item" separator=",">
            (
                #{item.textId},
                #{item.originalText},
                #{item.entityType},
                #{item.entityText},
                #{item.startPosition},
                #{item.endPosition},
                #{item.importance},
                #{item.entityCategory},
                #{item.createBy},
                #{item.createTime},
                #{item.remark}
            )
        </foreach>
    </insert>
    
    <update id="updateAnnotation" parameterType="com.ruoyi.system.domain.SysDatanoteAnnotation">
        update sys_datanote_annotations
        <set>
            <if test="textId != null and textId != ''">text_id = #{textId},</if>
            <if test="originalText != null">original_text = #{originalText},</if>
            <if test="entityType != null and entityType != ''">entity_type = #{entityType},</if>
            <if test="entityText != null and entityText != ''">entity_text = #{entityText},</if>
            <if test="startPosition != null">start_position = #{startPosition},</if>
            <if test="endPosition != null">end_position = #{endPosition},</if>
            <if test="importance != null">importance = #{importance},</if>
            <if test="entityCategory != null">entity_category = #{entityCategory},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id}
    </update>
    
    <delete id="deleteAnnotationById" parameterType="Long">
        delete from sys_datanote_annotations where id = #{id}
    </delete>
    
    <delete id="deleteAnnotationByIds" parameterType="String">
        delete from sys_datanote_annotations where id in 
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteAnnotationByTextId" parameterType="String">
        delete from sys_datanote_annotations where text_id = #{textId}
    </delete>
    
</mapper> 